@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Chilanka|Devonshire|Itim|Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kurale&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  height: 100vh;
}
body a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif, serif;
}
body header {
  font-family: "Montserrat", sans-serif, serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -2px;
}
@media all and (min-height: 1000px) {
  body header {
    font-size: 24px;
  }
}
@media all and (min-width: 1000px) {
  body header {
    font-size: 24px;
  }
}
body footer {
  font-family: "Montserrat", sans-serif, serif;
  font-weight: 500;
  font-size: 14px;
}
@media all and (min-height: 1000px) {
  body footer {
    font-size: 24px;
  }
}
body .btn h2 {
  font-family: "Montserrat", sans-serif, serif;
  font-weight: 400;
  font-size: 20px;
}
@media all and (min-width: 1015px) and (min-height: 1000px) {
  body .btn h2 {
    font-size: 24px;
  }
}
@media all and (max-width: 200px) {
  body .btn h2 {
    font-size: 14px;
  }
}
body .menu h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@keyframes wiggle {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
@keyframes soon {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c90;
  color: #ffd900;
  width: 180px;
  height: 30px;
  border-radius: 0.5rem;
  max-height: 100%;
}
@media all and (max-width: 200px) {
  .btn {
    width: 140px;
    height: 32px;
  }
}
@media all and (min-width: 1015px) and (min-height: 1000px) {
  .btn {
    width: 250px;
    height: 43px;
  }
}

header {
  display: flex;
  overflow: hidden;
  background-color: #579c90;
  color: #ffd900;
  min-height: 10%;
}
header h1 {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 100%;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffd900;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85%;
}

.menu_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  min-height: 75%;
  order: 1;
}

.menu_selecteur {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 48px;
  padding-right: 48px;
}

.menu_soon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10%;
  padding: 2% 0 2% 0;
  order: 2;
}
.menu_soon span {
  font-size: 33px;
  margin-bottom: 15px;
  animation: soon;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.menu_soon span:nth-child(2) {
  animation-delay: 200ms;
}
.menu_soon span:nth-child(3) {
  animation-delay: 400ms;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #579c90;
  color: #ffd900;
  min-height: 6%;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .mention_legals a, footer .contact_us a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 100%;
}
footer .mention_legals a:hover, footer .contact_us a:hover {
  animation: wiggle 150ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 3;
}

@media all and (max-width: 300px) {
  footer {
    flex-direction: column;
  }

  .contact_us {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .mention_legals {
    margin-bottom: 18px;
  }
}
.menu {
  height: 300px;
  width: 200px;
  min-height: 125px;
  min-width: 96px;
  margin: 24px 16px 24px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0.5px 0.5px 8px #cfcece;
  opacity: 1;
  transition: opacity 400ms;
}
.menu:hover {
  opacity: 0.5;
}
.menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 400ms;
  animation: ease-in;
}
.menu a:hover {
  transform: scale(1.15);
}
@media all and (min-width: 1024px) {
  .menu {
    height: 520px;
    width: 340px;
  }
}
.menu .menu_card {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.menu .menu_card img {
  width: 36px;
  height: 100%;
}

.menu_title {
  margin-top: 0;
  padding-left: 10px;
}

.menu_menu {
  margin-top: 0;
}

.menu_note {
  background-color: #fcdfdb;
}
.menu_note .menu_title {
  font-family: "Devonshire", sans-serif, serif;
  font-weight: inherit;
}
.menu_note .menu_menu {
  font-family: "Itim", sans-serif, serif;
  font-style: italic;
  font-size: 32px;
}

.menu_chic {
  background-color: #fff5fe;
  color: #d17122;
}
.menu_chic .menu_title {
  font-family: "Kurale", sans-serif, serif;
  font-weight: 600;
  background: #d17122;
  background: linear-gradient(90deg, #d17122 10%, #a6669a 60%, #6b30eb 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_chic .menu_menu {
  font-family: "Abril Fatface", sans-serif, serif;
  font-weight: normal;
  font-size: 32px;
}

.menu_delice {
  background-color: #f3f3f3;
  color: #56a7e6;
}
.menu_delice .menu_title {
  font-family: "Dancing Script", sans-serif, serif;
  font-weight: 500;
  font-size: 29px;
  background: #1530b7;
  background: linear-gradient(90deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_delice .menu_menu {
  font-family: "Chilanka", sans-serif, serif;
  font-size: 32px;
}

.menu_palette {
  background-color: #fdfffc;
  color: #55924d;
}
.menu_palette .menu_title {
  font-family: "Kaushan Script";
  font-weight: 500;
  font-size: 29px;
  background: #55924d;
  background: linear-gradient(90deg, #55924d 10%, #88bd3c 60%, #c8fa80 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_palette .menu_menu {
  font-family: "Chilanka", sans-serif, serif;
  font-weight: 400;
  font-size: 32px;
}

.menu_cards--mention {
  min-height: 85%;
  justify-content: flex-start;
}
.menu_cards > .mention {
  text-align: center;
  margin: 16px auto 16px auto;
  width: 65%;
}

.menu_cards--list {
  min-height: 85%;
  justify-content: flex-start;
}
.menu_cards .list_menu {
  margin: auto;
  box-shadow: 0.5px 0.5px 8px #cfcece;
}
.menu_cards .list_menu .list_img {
  text-align: center;
  margin: 0;
}
.menu_cards .list_menu .list_icon {
  width: 40px;
  height: 100%;
  margin-top: 30px;
}
.menu_cards .list_menu .list_decoration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.menu_cards .list_menu .list_decoration img {
  height: 100%;
  width: 24px;
}
.menu_cards .list_menu .list_decoration h3 {
  text-align: center;
}
.menu_cards .list_menu article ul {
  list-style: none;
  padding: 0;
}
.menu_cards .list_menu article ul li {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 12px;
}
.menu_cards .list_menu .list_footer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu_cards .list_menu .list_footer img {
  width: 30px;
}
.menu_cards .list_menu--note {
  background-color: #fcdfdb;
}
.menu_cards .list_menu--note .list_img {
  font-family: "Devonshire", sans-serif, serif;
  font-weight: inherit;
}
.menu_cards .list_menu--note .list_footer {
  font-family: "Devonshire", sans-serif, serif;
  font-weight: inherit;
}
.menu_cards .list_menu--note article {
  font-family: "Itim", sans-serif, serif;
}
.menu_cards .list_menu--chic {
  background-color: #fff5fe;
}
.menu_cards .list_menu--chic .list_title {
  background: #d17122;
  background: linear-gradient(90deg, #d17122 10%, #a6669a 60%, #6b30eb 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_cards .list_menu--chic article:nth-of-type(1) ul {
  color: #d17122;
}
.menu_cards .list_menu--chic article:nth-of-type(1) h3 {
  color: #d17122;
}
.menu_cards .list_menu--chic article:nth-of-type(2) ul {
  color: #a6669a;
}
.menu_cards .list_menu--chic article:nth-of-type(2) h3 {
  color: #a6669a;
}
.menu_cards .list_menu--chic article:nth-of-type(3) ul {
  color: #6b30eb;
}
.menu_cards .list_menu--chic article:nth-of-type(3) h3 {
  color: #6b30eb;
}
.menu_cards .list_menu--delice {
  background-color: #f3f3f3;
}
.menu_cards .list_menu--delice .list_title {
  background: #1530b7;
  background: linear-gradient(90deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_cards .list_menu--palette {
  background-color: #fdfffc;
}
.menu_cards .list_menu--palette .list_title {
  background: #55924d;
  background: linear-gradient(90deg, #55924d 10%, #88bd3c 60%, #c8fa80 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 1450px) {
  .menu_cards .list_menu {
    width: 800px;
    height: 1150px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .menu_cards .list_menu article {
    margin-top: 55px;
  }
  .menu_cards .list_menu .list_icon {
    width: 65px;
  }
  .menu_cards .list_menu .list_decoration img {
    width: 240px;
  }
  .menu_cards .list_menu ul {
    margin-top: 30px;
  }
  .menu_cards .list_menu li {
    margin-top: 20px;
  }
  .menu_cards .list_menu .list_footer img {
    width: 50px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1450px) {
  .menu_cards .list_menu {
    width: 800px;
    height: 1150px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .menu_cards .list_menu article {
    margin-top: 55px;
  }
  .menu_cards .list_menu .list_icon {
    width: 60px;
  }
  .menu_cards .list_menu .list_decoration img {
    width: 240px;
  }
  .menu_cards .list_menu ul {
    margin-top: 30px;
  }
  .menu_cards .list_menu li {
    margin-top: 20px;
  }
  .menu_cards .list_menu .list_footer img {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
