@keyframes wiggle {
    25% {
        transform: translateX(5%);
    } 
    75% {
        transform: translateX(-5% * 1);
    }
}


@keyframes soon {

    0%{
       opacity: .2; 
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: .2;
    }

}