footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #579c90;
    color: orange;;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mention_legals, .contact_us{
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 100%;
    }
}