footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #579c90;
  color: orange;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .mention_legals a,
footer .contact_us a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 100%;
}
@media all and (max-width: 300px) {
  footer {
    flex-direction: column;
  }
  .contact_us {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .mention_legals {
    margin-bottom: 18px;
  }
}
