header{
    display: flex;
    overflow: hidden;
    background-color: $first-color;
    color: $second-color;
    min-height: 10%;
    h1{
        display: flex;
        margin: auto;
        width: 100%;
        text-align: center;
        height: 100%;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: $second-color;
    }
}