main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85%;
}
.menu_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  min-height: 75%;
  order: 1;
}
.menu_selecteur {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 48px;
  padding-right: 48px;
}
.menu_soon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10%;
  padding: 2% 0 2% 0;
  order: 2;
}
.menu_soon span {
  font-size: 33px;
  animation: soon;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.menu_soon span:nth-child(2) {
  animation-delay: 200ms;
}
.menu_soon span:nth-child(3) {
  animation-delay: 400ms;
}
