main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 85%;
}
.menu_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  min-height: 75%;
  order: 1;
}
.menu_selecteur {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 48px;
  padding-right: 48px;
}
.menu_soon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10%;
  padding: 2% 0 2% 0;
  order: 2;
}
