.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second-color;
    color: white;
    width: 180px;
    height: 30px;
    border-radius: 0.5rem;
    max-height: 100%;
}