*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
