@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif, serif;
}
body header {
  font-family: "Montserrat", sans-serif, serif;
  font-weight: 600;
  font-size: 16px;
}
