
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif, serif;

    header{
        font-family: "Montserrat", sans-serif, serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: -2px;
    }

    footer{
        font-family: "Montserrat", sans-serif, serif;
        font-weight: 500;
        font-size: 14px;
    }
}

