.menu_cards {
    &--list {
        min-height: 85%;
        justify-content: flex-start;
    }
    .list_header {
        display: block;
        h2 {
            text-align: center;
            font-size: 20px;
            width: 75%;
            margin: 32px auto 8px auto;
        }
    }
    .list_menu {
        margin: 0 auto 32px auto;
        box-shadow: 0.5px 0.5px 8px rgb(207, 206, 206);
        width: 290px;
        padding-left: 32px;
        padding-right: 32px;
        .list_img {
            text-align: center;
            margin: 0;
            h3{
                margin: 0;
                font-weight: normal;
            }
        }
        .list_icon {
            width: 40px;
            height: 100%;
            margin-top: 15px;
        }
        .list_decoration {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            img {
                height: 100%;
                width: 96px;
            }
            h3 {
                text-align: center;
                margin: 0;
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
                &::after {
                    content: "";
                    border-bottom: solid 3px;
                    height: 100%;
                    width: 100%;
                    display: block;
                    transform: scaleX(0);
                    transition: 1000ms;
                    transform-origin: 0% 50%;
                }
            }
        }

        article {
            margin: 0;
            ul {
                list-style: none;
                padding: 0;
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 0;
                    margin-bottom: 8px;
                    .price{
                        margin: 0;
                        font-weight: bold;
                    }
                    .food{
                        margin: 0;
                    }
                }
            }
        }
        .list_footer {
            display: flex;
            justify-content: center;
            text-align: center;
            img {
                width: 30px;
            }
        }

        &--note {
            background-color: $note-color;
            .list_img {
                font-family: "Devonshire", sans-serif, serif;
                font-weight: inherit;
            }
            .list_footer {
                font-family: "Devonshire", sans-serif, serif;
                font-weight: inherit;
            }
            article {
                font-family: "Kalam", sans-serif, serif;
            }
        }

        &--chic {
            background-color: $chic-color;
            .list_title {
                font-family: "Kurale", sans-serif, serif;
                background: rgb(209, 113, 34);
                background: linear-gradient(
                    90deg,
                    rgba(209, 113, 34, 1) 10%,
                    rgba(166, 102, 154, 1) 60%,
                    rgba(107, 48, 235, 1) 80%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            article {
                font-family: "Lato", sans-serif, serif;
                ul {
                }
                &:nth-of-type(1) {
                    ul {
                        color: rgba(209, 113, 34, 1);
                    }
                    h3 {
                        color: rgba(209, 113, 34, 1);
                    }
                }
                &:nth-of-type(2) {
                    ul {
                        color: rgba(166, 102, 154, 1);
                    }
                    h3 {
                        color: rgba(166, 102, 154, 1);
                    }
                }
                &:nth-of-type(3) {
                    ul {
                        color: rgba(107, 48, 235, 1);
                    }
                    h3 {
                        color: rgba(107, 48, 235, 1);
                    }
                }
            }
        }

        &--delice {
            background-color: $delice-color;
            .list_title {
                font-family: "Dancing Script", sans-serif, serif;
                background: rgb(21, 48, 183);
                background: linear-gradient(
                    90deg,
                    rgba(21, 48, 183, 1) 10%,
                    rgba(86, 167, 230, 1) 60%,
                    rgba(86, 167, 230, 1) 80%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            article {
                font-family: "Indie Flower", sans-serif, serif;
            }
        }

        &--palette {
            background-color: $palette-color;
            .list_title {
                font-family: "Kaushan Script", sans-serif, serif;
                background: rgb(85, 146, 77);
                background: linear-gradient(
                    90deg,
                    rgba(85, 146, 77, 1) 10%,
                    rgba(136, 189, 60, 1) 60%,
                    rgba(200, 250, 128, 1) 80%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            article {
                font-family: "Indie Flower", sans-serif, serif;
            }
        }
        @media all and (min-width: 1450px) {
            width: 800px;
            height: 1150px;
            padding-left: 80px;
            padding-right: 80px;
            .list_img {
                .list_title {
                font-size: 50px;
            }}
            
            article {
                margin-top: 50px;
            }
            .list_icon {
                width: 65px;
            }
            .list_decoration {
                h3 {
                    font-size: 25px;
                }
                img {
                    width: 240px;
                }
            }
            ul {
                margin-top: 30px;
                font-size: 22px;
            }
            li {
                margin-top: 20px;
            }
            .list_footer {
                font-size: 32px;
                img {
                    width: 50px;
                }
            }
        }

        @media all and (min-width: 1024px) and (max-width: 1450px) {
            width: 800px;
            height: 1150px;
            padding-left: 80px;
            padding-right: 80px;
            .list_title {
                font-size: 30px;
            }
            article {
                margin-top: 55px;
            }
            .list_icon {
                width: 60px;
            }
            .list_decoration {
                h3 {
                    font-size: 25px;
                }
                img {
                    width: 240px;
                }
            }
            ul {
                margin-top: 30px;
                font-size: 20px;
            }
            li {
                margin-top: 20px;
            }
            .list_footer {
                font-size: 30px;
                img {
                    width: 50px;
                }
            }
        }
        @media all and (min-width: 760px) and (max-width: 1023px) {
            width: 430px;
            height: 750px;
            padding-left: 75px;
            padding-right: 75px;
            .list_title {
                font-size: 24px;
            }
            article {
                margin-top: 40px;
                ul {
                    font-size: 12px;
                }
            }
            .list_decoration {
                h3 {
                    font-size: 18px;
                }
                img {
                    width: 160px;
                }
            }
            .list_footer {
                font-size: 22px;
                img {
                    width: 24px;
                }
            }
        }
        @media all and (max-width: 760px) {
            article {
                margin-top: 24px;
                li {
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
            }
            .list_footer {
                font-size: 18px;
                img {
                    width: 24px;
                }
            }
        }
        @media all and (max-width: 360px) {
            width: 190px;
            .list_title {
                font-size: 20px;
            }
            .list_icon {
                width: 32px;
            }
            article {
                ul {
                    font-size: 10px;
                }
                li {
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
                .list_decoration {
                    font-size: 8px;
                    img {
                        width: 64px;
                    }
                }
            }
            .list_footer {
                font-size: 18px;
                img {
                    width: 24px;
                }
            }
        }
        @media all and (max-width: 260px) {
            width: 64px;
            .list_title {
                font-size: 18px;
            }
            .list_decoration {
                font-size: 6px;
                img {
                    width: 16px;
                }
            }
            article {
                ul {
                    font-size: 8px;
                }
            }
            .list_icon {
                width: 24px;
            }
            .list_footer {
                flex-direction: column;
                font-size: 16px;
                img {
                    width: 24px;
                }
            }
        }
    }
}
