.menu {
    height: 30vh;
    width: 20vh;
    min-height: 125px;
    min-width: 96px;
    margin: 1.5vh 1vh 1.5vh 1vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0.5px 0.5px 8px rgb(207, 206, 206);
    opacity: 1;
    transition: opacity 400ms;
    &:hover {
        opacity: 0.5;
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: transform 400ms;
        animation: ease-in;
        &:hover {
            transform: scale(1.15);
        }
    }

    @media all and (min-width: 1024px) {
        height: 520px;
        width: 340px;
    }
    .menu_card {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        img {
            width: 36px;
            height: 100%;

        }
    }
}

.menu_title {
    margin-top: 0;
    padding-left: 10px;
}

.menu_menu {
    margin-top: 0;
}

.menu_note {
    background-color: $note-color;
    .menu_title {
        font-family: "Devonshire", sans-serif, serif;
        font-weight: inherit;
    }
    .menu_menu {
        font-family: "Itim", sans-serif, serif;
        font-style: italic;
        font-size: 32px;
    }
}

.menu_chic {
    background-color: $chic-color;
    color: rgb(209, 113, 34);
    .menu_title {
        font-family: "Kurale", sans-serif, serif;
        font-weight: 600;
        background: rgb(209, 113, 34);
        background: linear-gradient(
            90deg,
            rgba(209, 113, 34, 1) 10%,
            rgba(166, 102, 154, 1) 60%,
            rgba(107, 48, 235, 1) 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .menu_menu{
        font-family: "Abril Fatface", sans-serif, serif;
        font-weight: normal;
        font-size: 32px;
    }
}

.menu_delice {
    background-color: $delice-color;
    color: rgba(86, 167, 230, 1);
    .menu_title {
        font-family: "Dancing Script", sans-serif, serif;
        font-weight: 500;
        font-size: 29px;
        background: rgb(21, 48, 183);
        background: linear-gradient(
            90deg,
            rgba(21, 48, 183, 1) 10%,
            rgba(86, 167, 230, 1) 60%,
            rgba(86, 167, 230, 1) 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .menu_menu{
        font-family: "Chilanka", sans-serif, serif;
        font-size: 32px;
    }
}

.menu_palette {
    background-color: $palette-color;
    color: rgb(85, 146, 77);
    .menu_title {
        font-family: "Kaushan Script";
        font-weight: 500;
        font-size: 29px;
        background: rgb(85, 146, 77);
        background: linear-gradient(
            90deg,
            rgba(85, 146, 77, 1) 10%,
            rgba(136, 189, 60, 1) 60%,
            rgba(200, 250, 128, 1) 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .menu_menu{
        font-family: "Chilanka", sans-serif, serif;
        font-weight: 400;
        font-size: 32px;
    }
}
